.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 80px;
    margin: 20px 170px;
    background-color: #1C1475ff;
    border-radius: 30px;
    border: solid 2px white;
    margin-bottom: 150px;
}
.about-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.about-title img {
    height: 80px;
}
.about-title h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
}
.about-sections {
    display: flex;
    gap: 80px;
    width: 70%;
    margin-bottom: 100px;
}
.about-sections img {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}
.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-right p {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 600;
}

@media(max-width:768px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items: center;
    }
    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }
    .about-title img {
        height: 50px;
    }
    .about-sections {
        flex-direction: column;
        align-items: center;
    }
    .about-sections img {
        height: 300px;
        width: 300px;
        border: 2px solid white;
        border-radius: 50%;
    }
    .about-sections p {
        font-size: 25px;
        line-height: 35px;
    }
}