.hero {
    color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 100px;
}
.hero img {
    height: 350px;
    width: 300px;
    border-radius: 10%;
    border: solid 2px white;
}
.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 80px;
    font-weight: 600;
}
.hero p {
    text-align: center;
    width: 50%;
    font-size: 50px;
    font-weight: 400;
}
.hero-action {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background-color: #1C1475ff;
    border: 2px solid white;
    color: white;
}
.hero-connect:hover {
    cursor: pointer;
    transform: scale(1.12);
    transition: 0.5s;
}
.hero-get-started {
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
}
.hero-get-started:hover {
    cursor: pointer;
    transform: scale(1.12);
    transition: 0.5s;
}