.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
  color: white;
}
.navbar img {
  height: 150px;
  width: 170px;
}
.navbar img:hover {
  cursor: pointer;
  transform: scale(1.12);
  transition: 0.5s;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 30px;
}
.nav-links li:hover {
  color: #1c1475ff;
  cursor: pointer;
  transform: scale(1.12);
  transition: 0.5s;
}
.nav-links li:active {
  color: #1c1475ff;
}
.nav-book-now {
  padding: 20px 40px;
  background-color: #1c1475ff;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 25px;
}
.nav-book-now:hover {
  cursor: pointer;
  transform: scale(1.12);
  transition: 0.5s;
}
.nav-mob-close {
    display: none;
}
.nav-mob-open {
    display: none;
}
.nav-mob-logo {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        margin: 50px 50px;
    }
    .nav-logo {
        display: none;
    }
    .nav-mob-logo {
        display: block;
        position: fixed;
    }
    .navbar img {
        height: 80px;
        width: 80px;
    }
    .nav-book-now {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 220px;
        width: 30px;
    }
    .nav-links {
        position: fixed;
        flex-direction: column;
        align-items: start;
        background-image: linear-gradient(#30D5C8, #1C1475ff);
        top: 0;
        gap: 30px;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-links li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
    }
}
