.navbar {
   height: 200px;
   background-color: #30D5C8;
   color: #1C1475ff;
}
.logo img {
    height: 150px;
    width: 170px;
}
.logo img:hover {
    cursor: pointer;
    transform: scale(1.12);
    transition: 0.5s;
}
.nav-links {
    display: flex;
}
.navbar a {
    margin-left: 20px;
    font-size: x-large;
    font-weight: 600;
    color: #1C1475ff;
}
.navbar a:hover {
    color: #1C1475ff;
    cursor: pointer;
    transform: scale(1.12);
    transition: 0.5s;
}
.nav-book-now {
    display: flex;
    align-items: center;
    background-color: #1C1475ff;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    font-size: x-large;
    padding: 10px 20px;
    margin-left: 20px;
}
.nav-book-now:hover {
    cursor: pointer;
    transform: scale(1.12);
    transition: 0.5s;
}