.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
  color: white;
}
.navbar img {
  height: 150px;
  width: 170px;
}
.navbar img:hover {
  cursor: pointer;
  transform: scale(1.12);
  transition: 0.5s;
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 30px;
}
.nav-links li:hover {
  color: #1c1475ff;
  cursor: pointer;
  transform: scale(1.12);
  transition: 0.5s;
}
.nav-links li:active {
  color: #1c1475ff;
}
.nav-book-now {
  padding: 20px 40px;
  background-color: #1c1475ff;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 25px;
}
.nav-book-now:hover {
  cursor: pointer;
  transform: scale(1.12);
  transition: 0.5s;
}
